.App {
  text-align: center;
  overflow: hidden;
  /* display: flex; */
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo_wrapper {
  height: 40vmin;
  width: 40vmin;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .logo_wrapper {
    animation: App-logo-spin 10s linear 0s infinite reverse;
  }
  .paused {
    animation-play-state: paused;
  }
  .playing {
    animation-play-state: running;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar_button {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
