.sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 24%;
  max-width: 26rem;
  padding: 5rem 2rem;
  background: linear-gradient(112deg, #ec4e20, #fec0aa);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: aqua; */
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  transition: transform 0.4s ease-in-out;
}

.sidebar_hide {
  transform: translateX(100vw);
}

.sidebar_show {
  overflow: hidden;
  transform: translateX(0vw);
}
